@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Static/styles.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js" type="text/javascript"></script>
</head>
<body>
    <div id="page">
        <div id="left-column">
            menuu
        </div>
        <div id="right-column">
            <div id="static-header">
                textooooo
                <button id="logout"><a href='@Url.Action("logout","Login")' style="display:block;">Logout</a></button>
            </div>
            <div id="content">
                mas textooo
            </div>
        </div>
    </div>
</body>
</html>
