@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Static/styles.css" />
</head>
<body>
    <div id="page">
        <div id="left-column">
            menuu
        </div>
        <div id="right-column">
            <div id="static-header">
                textooooo
            </div>
            <div id="content">
                mas textooo
            </div>
        </div>
    </div>
</body>
</html>
