@model EndeavorlinkStats.Models.SMSModel
<div class="wrapper">
    <div class="wrapper">
        <form action="" class="form">
            <div class="widget">
                <fieldset>

                    <div class="title">
                        <img src="images/icons/dark/list.png" alt="" class="titleIcon" />
                        @{
                            var operador = Model.oper[0].ToString().ToUpper() + Model.oper.Substring(1);
                        } 
                            <h6>@operador SMS Report</h6>
                    </div>
                    <div class="formRow">
                        <label>MSISDN: </label>
                        <div class="formRight">
                            <input id="msisdn" type="text" value="" />
                        </div>
                        <div class="clear"></div>
                    </div>
                </fieldset>
            </div>
            <div class="formSubmit">
                <input type="button" id="getSMS" onclick="getSMSSupport()" value="submit" class="redB" />

            </div>
    
        </form>
    </div>
</div>
