@model EndeavorlinkStats.Models.SMSModel
<div class="widget">
    <div class="title">
        <img src="~/images/icons/dark/full2.png" alt="" class="titleIcon" /><h6>@Model.oper</h6>
    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="display sTable">
        <thead>
            <tr>
                <th>Subservice Code</th>
                <th>Subscriptions</th>
                <th>Renew</th>
                <th>Cancellation</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
